.tertiary-heading {
  text-align: center;
}

.user-profile-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  border: 1px solid rgb(222, 216, 216);
  border-radius: 2%;
  padding: 4rem 0 4rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-profile-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.img-avatar {
  display: block;
  width: 14rem;
  height: 10rem;
}

.profile-container {
  max-width: 120rem;
  padding: 0 9rem;
  margin: 0 auto;
}

.profile-img {
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  display: block;
}

.info-text {
  color: #868e96;
  flex: 1;
  word-wrap: break-word;
}

.user-profile-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

button {
  padding: 0.3rem;
  background-color: #0b508d;
  color: #fff;
}

.button-flex {
  display: flex;
  gap: 1rem;
}

form label {
  display: block;
  color: #868e96;
}

form input {
  padding: 0.2rem;
}

button:hover,
button:active {
  color: black;
}

.info-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.each-info {
  color: black;
  white-space: normal;
}

/* .company-main-profile-box {
  border: 1px solid rgb(85, 83, 83);
} */

.user-img-box {
  border: 1px solid rgb(85, 83, 83);
  padding: 0.5rem;
}
